<h1>Product Details</h1>

<h3><b><%= @item.name %></b>, <i>$<%= @item.price.to_i %></i></h3>

<% if @item.reviews %>
  <% @item.reviews.each do |review| %>
    <h4> <%= review.body %> </h4>
  <% end %>
<% end %>
<br>
<% if current_user %>
  <hr>
  <br>
  <h3>Leave a review:</h3>
  <%= form_for @review, url: item_reviews_path(@item) do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_area :body %><br>
    <%= f.submit %>
  <% end %>
<% end %>
<%#= render @item.reviews %>
